<div [class.dark-mode]="theme == 'dark'" class="auth-layout">
    <div class="auth-image-container">
        <svg-icon src="assets/vectors/auth-image.svg" [applyClass]="true" class="auth-image"></svg-icon>
    </div>
    <div class="auth-container">
        <h1>{{'Dashboard.LoginTitle' | translate}}</h1>
        <p>
            {{'Dashboard.LoginDescription' | translate}}
        </p>
        <br>
        <br>
        <form #authForm="ngForm" (ngSubmit)="formSubmitted(authForm.value)">
            <mat-form-field>
                <mat-label>{{'Dashboard.Email' | translate}}</mat-label>
                <input #email ngModel name="email" required type="text" matInput placeholder="example@example.com">
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'Dashboard.Password' | translate}}</mat-label>
                <input #password ngModel name="password" required type="password" matInput
                    placeholder="example@example.com">
            </mat-form-field>
            <div class="row">
                <mat-checkbox>{{'Dashboard.RememberMe' | translate}}</mat-checkbox>
                <div class="link">
                    {{'Dashboard.ForgotPassword' | translate}}
                </div>
            </div>
            <button type="submit" [disabled]="(authForm.invalid) || requestStatus == 1"
                [textContent]="requestStatus == 1 ? ('Dashboard.Loading' | translate) : ('Dashboard.Login' | translate)"
                mat-flat-button color="primary">
            </button>
        </form>
    </div>
</div>