<div [class.dark-mode]="theme == 'dark'" class="datatable-container">
    <div *ngIf="showHeader" class="datatable-header">
        <div *ngIf="showHeaderTitle" class="info">
            <h1 class="title">{{'Dashboard.'+title | translate}}</h1>
        </div>
        <div *ngIf="controlTemplate" class="controls-bar">
            <ng-container [ngTemplateOutlet]="controlTemplate"></ng-container>
        </div>
        <div *ngIf="showControls && !controlTemplate" class="controls-bar">
            <div class="filters">
                <mat-form-field *ngIf="showSearch" (input)="onSearchChange($event)" [floatLabel]="'auto'">
                    <input type="text" matInput placeholder="{{'Dashboard.Search' | translate}}">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="controls">
                <ng-container *ngIf="showImport">
                    <button mat-flat-button color="accent">
                        <label for="importFromInput">
                            <mat-icon>system_update_alt</mat-icon>
                            <span>
                                {{'Dashboard.Import' | translate}}
                            </span>
                        </label>
                    </button>
                    <input accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        (change)="onImportFileChange($event)" style="display:none" type="file" id="importFromInput">
                </ng-container>
                <!-- Menu Button -->
                <button *ngIf="showExport" [matMenuTriggerFor]="menu" mat-stroked-button color="primary">
                    <mat-icon>ios_share</mat-icon>
                    <span>
                        {{'Dashboard.Export' | translate}}
                    </span>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="onExportClick('excel')" mat-menu-item>
                        <mat-icon>grid_on</mat-icon>
                        <span>Excel</span>
                    </button>
                    <button (click)="onExportClick('pdf')" mat-menu-item>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>Pdf</span>
                    </button>
                    <button (click)="onExportClick('print')" mat-menu-item>
                        <mat-icon>print</mat-icon>
                        <span>Print</span>
                    </button>
                </mat-menu>
                <button *ngIf="showCreate" (click)="onCreateClick()" mat-flat-button color="primary">
                    <mat-icon>add</mat-icon>
                    <span>
                        {{'Dashboard.Create' | translate}}

                    </span>
                </button>

            </div>
        </div>
    </div>

    <table [style.table-layout]="fixed ? 'fixed' : 'initial'" class="data-table">
        <thead>
            <tr>
                <ng-container *ngFor="let column of columns">
                    <th (click)="onSortChange(column.prop,column.sortable)" matRipple *ngIf="column.show">
                        <div class="th-content">
                            <p>{{'Dashboard.'+column.title | translate}}</p>
                            <div [style.visibility]="column.sortable && sortProp == column.prop ? 'visible' : 'hidden'">
                                <mat-icon *ngIf="ascending">arrow_downward</mat-icon>
                                <mat-icon *ngIf="!ascending">arrow_upward</mat-icon>
                            </div>
                        </div>
                        <span class="resizer"></span>
                    </th>
                </ng-container>
            </tr>
            <tr *ngIf="_searchableColumns.length > 0">
                <ng-container *ngFor="let col of columns; let i = index">
                    <th class="search-cell">
                        <div *ngIf="col.searchable" class="search-row">
                            <ng-container [ngSwitch]="col.searchControlType">
                                <ng-container *ngSwitchCase="SearchControlTypes.Number">
                                    <input placeholder="{{'Dashboard.Search' | translate}}" (input)="searchFieldChange(i,$event.target)"
                                        type="number">
                                </ng-container>
                                <ng-container *ngSwitchCase="SearchControlTypes.Email">
                                    <input placeholder="{{'Dashboard.Search' | translate}}" (input)="searchFieldChange(i,$event.target)"
                                        type="email">
                                </ng-container>
                                <ng-container *ngSwitchCase="SearchControlTypes.DateTime">
                                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                                    <input (dateInput)="searchFieldChange(i,$event.target)" (input)="searchFieldChange(i,$event.target)" placeholder="MM/DD/YYYY"
                                        matInput [matDatepicker]="picker">
                                    <mat-datepicker #picker></mat-datepicker>
                                </ng-container>
                                <ng-container *ngSwitchCase="SearchControlTypes.CheckBox">
                                    <mat-checkbox (change)="searchFieldChange(i,$event)">
                                        {{'Dashboard.'+col.title | translate}}
                                    </mat-checkbox>
                                </ng-container>
                                <ng-container *ngSwitchCase="SearchControlTypes.Selection">
                                    <mat-select (selectionChange)="searchFieldChange(i,$event)">
                                        <mat-option [value]="null">All</mat-option>
                                        <mat-option [value]="item" *ngFor="let item of col.searchFieldData">{{item}}</mat-option>
                                    </mat-select>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <input placeholder="{{'Dashboard.Search' | translate}}" (input)="searchFieldChange(i,$event.target)"
                                        type="text">
                                </ng-container>
                            </ng-container>
                            <div *ngIf="col.searchControlType != SearchControlTypes.CheckBox && col.searchControlType != SearchControlTypes.Selection" mat-icon-button
                                [matMenuTriggerFor]="operatorsMenu" class="search-button" matRipple>
                                <i [classList]="_fieldSearchResult[i].operatorIcon"></i>
                            </div>
                        </div>
                        <mat-menu class="operators-menu" #operatorsMenu="matMenu">
                            <button (click)="onOperatorSelected(i,op)" *ngFor="let op of comparisonOperators"
                                mat-menu-item>
                                <i [classList]="op.icon"></i>
                                <span>{{op.name}}</span>
                            </button>
                        </mat-menu>

                    </th>
                </ng-container>
            </tr>
        </thead>
        <tbody *ngIf="loading">
            <tr>
                <td [attr.colspan]="columns.length">
                    <spinner-placeholder></spinner-placeholder>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="!loading && rows.length == 0">
            <tr>
                <td [attr.colspan]="columns.length">
                    <empty-placeholder [showButton]="showCreate && showHeader && showControls "
                        (buttonClick)="onCreateClick()"></empty-placeholder>
                </td>
            </tr>
        </tbody>

        <tbody id="rowResult" *ngIf="rows.length > 0 && !loading">

            <tr *ngFor="let row of rows; let rowIndex= index">
                <ng-container *ngFor="let col of columns; let colIndex = index">
                    <td [class.break-words]="breakWords" [attr.data-label]="col.title" *ngIf="col.show">
                        <ng-container *ngIf="cellTemplate" [ngTemplateOutlet]="cellTemplate"
                            [ngTemplateOutletContext]="{colIndex:colIndex,rowIndex:rowIndex,cellData:row[col.prop],rowData:row}">

                        </ng-container>
                        <ng-container *ngIf="!cellTemplate">
                            {{row[col.prop]}}
                        </ng-container>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <div *ngIf="showFooter" class="datatable-footer">
        <div></div>
        <mat-paginator (page)="onPageChange($event)" [length]="total" [pageSize]="PageSize"
            [pageSizeOptions]="[5, 10, 25, 50 ,100]" aria-label="Select page">
        </mat-paginator>

    </div>
</div>