@import 'variables';
.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader {
    width: 40px;
    height: 40px;
    border: 3px solid map-get($map: $primary-color, $key: 500);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-bottom: 20px;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid;
    border-color: map-get($map: $accent-color, $key: 500) transparent;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 