<data-table (createClick)="onCreate()" (searchChange)="onSearch($event)" (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)" [total]="totalRecords" [loading]="getRequest == 1" [columns]="columns"
    [rows]="data" [cell-template]="cellTemplate" title="Roles Table">
    <ng-template #cellTemplate let-rowData="rowData" let-data="cellData" let-col="colIndex" let-row="rowIndex">
        <ng-container [ngSwitch]="col">
            <ng-container *ngSwitchCase="2">
                <button (click)="onShowPermissionsClick(rowData)" matRipple class="table-act-button text primary">
                    <i class="las la-user-cog"></i>
                    Show Permissions
                </button>
            </ng-container>
            <ng-container *ngSwitchCase="5">
                <button (click)="onUpdate(rowData)" matRipple class="table-act-button accent">
                    <i class="las la-edit"></i>
                </button>
                <button (click)="onDeleteClick(rowData.id)" matRipple class="table-act-button warn">
                    <i class="las la-trash"></i>
                </button>
            </ng-container>
            <ng-container *ngSwitchDefault>
                {{data}}
            </ng-container>

        </ng-container>
    </ng-template>
</data-table>

<dimmer-loading *ngIf="dimRequest == 1">
</dimmer-loading>

<ng-template #roleForm>
    <h2 mat-dialog-title [textContent]="templateOnlyShow ? 'Show Permission' : 'Create New Role'">Create New Role</h2>
    <mat-dialog-content>
        <mat-form-field *ngIf="!templateOnlyShow">
            <mat-label>Role Title</mat-label>
            <input [(ngModel)]="role.title" type="text" matInput placeholder="Role Title" name="title">
        </mat-form-field>
        <table class="role-table">
            <thead>
                <tr>
                    <td>Title</td>
                    <th>View</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of getRoleKeys()">
                    <td>{{key}}</td>
                    <td>
                        <mat-checkbox [disabled]="templateOnlyShow" [(ngModel)]="role[key+'Permissions']['read']">
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [disabled]="templateOnlyShow" [(ngModel)]="role[key+'Permissions']['create']">
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [disabled]="templateOnlyShow" [(ngModel)]="role[key+'Permissions']['update']">
                        </mat-checkbox>
                    </td>
                    <td>
                        <mat-checkbox [disabled]="templateOnlyShow" [(ngModel)]="role[key+'Permissions']['delete']">
                        </mat-checkbox>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions *ngIf="!templateOnlyShow">
        <button (click)="onFormSubmit()" mat-flat-button color="primary">Submit</button>
        <button (click)="closeDialog()" mat-flat-button>Close</button>
    </mat-dialog-actions>
</ng-template>