<div [dir]="dir =='rtl' ? 'rtl' : 'ltr'" [class.dialog-mode]="data" [class.rtl]="dir == 'rtl'" class="form-container">
    <h1>{{ title! | translate }}</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
        <div class="form-inputs">
            <div class="form-group" *ngFor="let group of controlsGroups">
                <div class="group-title">
                    {{ group.title! | translate }}
                </div>
                <div class="form-controls">
                    <ng-container *ngFor="let control of group.controls">
                        <!-- 1. Inputs -->
                        <div [style.width]="control.width"
                            *ngIf="control.controlType == controlTypes.TextInput ||
                         control.controlType == controlTypes.PasswordInput ||
                         control.controlType == controlTypes.Url ||
                         control.controlType == controlTypes.NumberInput || control.controlType == controlTypes.TextArea" class="control-container">
                            <mat-form-field>
                                <mat-label>{{ control.title! | translate }}</mat-label>
                                <input *ngIf="control.controlType != controlTypes.TextArea"
                                    [type]="control.controlType.toString()!"
                                    [attr.placeholder]="(control.title! | translate)" [formControlName]="control.name!"
                                    matInput>
                                <textarea matInput *ngIf="control.controlType == controlTypes.TextArea"
                                    [type]="control.controlType.toString()!"
                                    [attr.placeholder]="control.title! | translate" rows="3"
                                    [formControlName]="control.name!" matInput type="text"></textarea>
                                <mat-icon *ngIf="control.icon" matPrefix>{{control.icon}}</mat-icon>
                                <mat-hint class="error-hint"
                                    *ngIf="formGroup.controls[control.name!].touched && formGroup.controls[control.name!].hasError('required')">
                                    {{ 'Dashboard.REQUIRED' | translate:{ field: (control.title! | translate) } }}
                                </mat-hint>
                                <mat-hint class="error-hint"
                                    *ngIf="formGroup.controls[control.name!].touched && formGroup.controls[control.name!].hasError('minlength')">
                                    {{ 'Dashboard.MINLENGTH' | translate:{ field: (control.title! | translate), length:
                                    formGroup.controls[control.name!].errors!.minlength.requiredLength } }}
                                </mat-hint>
                                <mat-hint class="error-hint"
                                    *ngIf="formGroup.controls[control.name!].touched && formGroup.controls[control.name!].hasError('maxlength')">
                                    {{ 'Dashboard.MAXLENGTH' | translate:{ field: (control.title! | translate), length:
                                    formGroup.controls[control.name!].errors!.maxlength.requiredLength } }}
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <!-- 2. Selection -->
                        <div [style.width]="control.width" *ngIf="control.controlType == controlTypes.Selection
                             || control.controlType == controlTypes.MultiSelection" class="control-container">
                            <mat-form-field>
                                <mat-label>{{ control.title! | translate }}</mat-label>
                                <mat-select [formControlName]="control.name!"
                                    [multiple]="control.controlType == controlTypes.MultiSelection">
                                    <mat-option *ngFor="let option of control.data"
                                        [value]="option[control.valueProp!]">
                                        {{ option[control.labelProp!] | translate }}
                                    </mat-option>
                                </mat-select>
                                <mat-icon *ngIf="control.icon" matPrefix>{{control.icon}}</mat-icon>
                                <mat-hint class="error-hint"
                                    *ngIf="formGroup.controls[control.name!].touched && formGroup.controls[control.name!].hasError('required')">
                                    {{ 'Dashboard.REQUIRED' | translate:{ field: (control.title! | translate) } }}
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <!-- 3. checkbox -->
                        <div [style.width]="control.width" *ngIf="control.controlType == controlTypes.CheckBox"
                            class="control-container">
                            <mat-checkbox [formControlName]="control.name!">{{ control.title! | translate
                                }}</mat-checkbox>
                        </div>

                        <!-- 4. Date Picker -->
                        <div [style.width]="control.width" *ngIf="control.controlType == controlTypes.DatePicker"
                            class="control-container">
                            <mat-form-field>
                                <mat-label>{{ control.title! | translate }}</mat-label>
                                <input [formControlName]="control.name!" matInput [matDatepicker]="picker">
                                <mat-hint>{{ 'Dashboard.DATE_HINT' | translate }}</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint class="error-hint"
                                    *ngIf="formGroup.controls[control.name!].touched && formGroup.controls[control.name!].hasError('required')">
                                    {{ 'Dashboard.REQUIRED' | translate:{ field: (control.title! | translate) } }}
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <!-- 5. Rich Editor -->
                        <div style="padding-right: 15px;margin: 15px 0px;" [style.width]="control.width"
                            *ngIf="control.controlType == controlTypes.RichTextEditor" class="control-container">
                            <quill-editor [placeholder]="control.title! | translate" [styles]="{'height':'300px'}"
                                [formControlName]="control.name!"></quill-editor>
                        </div>

                        <!-- 6. Local Files Picker -->
                        <div [class.rtl]="direction == 'rtl'" [style.width]="control.width"
                            *ngIf="control.controlType == controlTypes.LocalFilePicker"
                            class="control-container file-picker">
                            <local-files-picker [file-extensions]="control.extensions"
                                [allow-mulitple-files]="control.allowMultipleFile ?? false"
                                [button-disabled]="control.disabled ?? false"
                                [initial-value]="getFileValue(control.value)" [form-group]="formGroup"
                                [placeholder]="(control.title! | translate) ?? ('general.selectedFiles' | translate)"
                                [formControlName]="control.name!" (filesPicked)="onFilesPicked(control.name!,$event)">
                            </local-files-picker>

                        </div>

                        <!-- 7. Custom Control -->
                        <div [style.width]="control.width" class="control-container"
                            *ngIf="control.controlType == controlTypes.CustomComponent && control.template">
                            <ng-container [ngTemplateOutlet]="control.template"></ng-container>
                        </div>
                        <!-- 8. AutoComplete -->
                        <div [style.width]="control.width" *ngIf="control.controlType == controlTypes.Autocompele
                         " class="control-container">
                            <mat-form-field>
                                <mat-label>{{control.title! | translate}}</mat-label>
                                <input [formControlName]="control.name!" (input)="onAutoCompleteChanged($event,control)"
                                    type="text" [placeholder]="(control.title ?? '' | translate)" matInput
                                    [matAutocomplete]="auto">
                                <mat-autocomplete [displayWith]="control.displayWith ?? null" autoActiveFirstOption
                                    #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of control.filterData; let i = index"
                                        [value]="control.valueProp ? control.valueProp == 'index' ? i : option[control.valueProp!] : option">
                                        {{control.labelProp ? option[control.labelProp!] : option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="act-buttons">
            <button [disabled]="formGroup.invalid" type="submit" mat-flat-button color="primary">
                {{ 'Dashboard.SUBMIT' | translate }}
            </button>
            <button *ngIf="showCancelButton" (click)="onCancel($event)" type="button" mat-flat-button color="accent">
                {{ 'Dashboard.CANCEL' | translate }}
            </button>
        </div>
    </form>
</div>