@import '~@angular/material/theming';
@import 'variables';
@include mat-core();
$main-typography:mat-typography-config( $font-family: 'Poppin');
$primary-color-platte:mat-palette($primary-color);
$accent-color-platte:mat-palette($accent-color);
$default-theme:mat-light-theme($primary-color-platte, $accent-color-platte);
@include angular-material-theme($default-theme); 
@include mat-core($main-typography);  