$primary-color: (
  0: #ffffff,
  100: #d3dcea,
  200: #a8bad6,
  300: #7c99c1,
  400: #4e79ad,
  500: #005b99,
  600: #114978,
  700: #153759,
  800: #14273c,
  900: #101721,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(white, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);
$accent-color: (
  00: #ffffff,
  100: #ffefd3,
  200: #ffdfa8,
  300: #fcd07d,
  400: #f6c14e,
  500: #efb200,
  600: #bb8b11,
  700: #896715,
  800: #5a4414,
  900: #2f250f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(white, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);
$background-color: #f5f7fb;
$secondary-background-color: white;
$dark-background-color: #151a30;
$secondary-dark-background-color: #222b45;