$primary-color: (
  50: #e9ecf2,
  100: #c6cee0,
  200: #a3afca,
  300: #8090b4,
  400: #6478a4,
  500: #496097,
  600: #42588e,
  700: #3a4e82,
  800: #334575,
  900: #29345c,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(white, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);
$accent-color: (
  50: #f8f3d9,
  100: #eee09f,
  200: #e1cb5f,
  300: #d5b905,
  400: #ceaa00,
  500: #c89c00,
  600: #ca9000,
  700: #cd7e00,
  800: #ce6d00,
  900: #cf4b00,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: rgba(white, 0.87),
    900: rgba(white, 0.87),
    A100: rgba(white, 0.87),
    A200: white,
    A400: white,
    A700: white,
  ),
);
$background-color: #f5f7fb;
$secondary-background-color: white;
$dark-background-color: #151a30;
$secondary-dark-background-color: #222b45;
