@import 'variables';

.header {
    min-height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    flex-wrap: wrap;

    .search-bar {
        display: flex;
        align-items: center;
        min-height: 70px;

        i {
            font-size: 22px;
            margin-right: 10px;
            color: gray;
        }

        input {
            border: none;
            min-width: 280px;


        }
    }

    .search-bar:focus-within {
        i {
            color: map-get($map: $primary-color, $key: 400);
        }
    }

    .widgets {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .widget-button {
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 0px 10px;
            border-radius: 8px;

            i {
                font-size: 24px;
            }
        }

        .widget-button:hover {
            background-color: map-get($map: $primary-color, $key: 50);

            i {
                color: map-get($map: $primary-color, $key: 400);

            }
        }

        .logout-button {
            border: none;
            background-color: map-get($map: $primary-color, $key: 50);
            color: map-get($map: $primary-color, $key: 400);
            border-radius: 7px;
            margin: 0px 10px;

            i {
                font-size: 20px;
            }

        }

    }
}