<div [class.opened]="opened" [class.dark-mode]="theme == 'dark'" class="header">
    <div class="first-section">
        <div (click)="onToggle()" matRipple class="menu-bars">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="status_toggle middle"
                id="sidebar-toggle">
                <line x1="18" y1="10" x2="6" y2="10"></line>
                <line x1="21" y1="6" x2="3" y2="6"></line>
                <line x1="21" y1="14" x2="3" y2="14"></line>
                <line x1="18" y1="18" x2="6" y2="18"></line>
            </svg>
        </div>
        <div class="search-bar">
            <i class="las la-search"></i>
            <input type="text" class="search-bar-input" placeholder="{{'Dashboard.SearchHere' | translate}}">
        </div>
        <div matRipple (click)="opened = !opened" class="header-toggle">
            <i class="las la-angle-down"></i>
        </div>
    </div>
    <div class="widgets">
        <languages-switch [selectedLang]="currentLang" (onChange)="languageChange.emit($event)"></languages-switch>
        <div (click)="openFullScreen()" matRipple class="widget-button">
            <i class="las la-expand"></i>
        </div>
        <div class="notifications">
            <div   [mat-menu-trigger-for]="notificationsMenu" matRipple class="widget-button">
                <i   matBadgeColor="primary" class="las la-bell"></i>
                <div *ngIf="unread > 0" class="badge"></div>
            </div>
            <mat-menu backdropClass="notification-style" #notificationsMenu>
                <div class="menu-header">
                    <h2>{{'Dashboard.Notifications' | translate}}</h2>
                    <div *ngIf="unread > 0" class="new">
                        {{unread}} {{'Dashboard.New' | translate}}
                    </div>
                </div>
                <div class="notifications-list">
                    <div matRipple stopPropagation [routerLink]="notification.url" [class.uread]="!notification.read" *ngFor="let notification of notifications" class="notification">
                        <div  class="icon-container">
                            <i class="las la-bell"></i>
                        </div>
                        <div class="sep"></div>
                        <div class="content">
                            <div class="title">{{notification.title}}</div>
                            <div class="message">{{notification.message}}</div>
                            <div class="date">{{formatDate(notification.createdAt!)}}</div>
                        </div>
                    </div>
                </div>
                <button [disabled]="readRequest == 1" (click)="onReadNotificationClick()" stopPropagation mat-flat-button color="primary">
                    <span [textContent]="(readRequest == 1 ? 'Dashboard.Loading' : 'Dashboard.ReadAll') | translate"></span>
                    <mat-icon *ngIf="readRequest != 1">done_all</mat-icon>
                </button>
            </mat-menu>
        </div>
        <div (click)="toggleTheme()" matRipple class="widget-button">
            <i *ngIf="theme == 'light'" class="las la-moon"></i>
            <i *ngIf="theme == 'dark'" class="las la-sun"></i>

        </div>
        <button (click)="logout()" mat-flat-button class="logout-button">
            <i class="las la-sign-out-alt"></i>
            {{'Dashboard.Logout' | translate}}
        </button>

    </div>
</div>