.te-layout {
    button{
        border-radius: 8px;
    }
    .header {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin: 10px 20px;
        border-radius: 7px;

        h2 {
            margin: 0px;
            padding: 0px;
        }

    }

    .te-body {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;

        .tree-section {
            flex: 1;
            background-color: white;
            border-radius: 7px;
            height: fit-content;
            .tree-section-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 15px;

                h3 {
                    margin: 0px;
                    padding: 0px;
                }
                
            }
            .tree{
                margin-top: 20px;
                mat-list-option{
                    font-size: 14px;
                }
               
           }
        }

        .values-section {
            flex: 3;
            padding: 15px;
            margin-left: 15px;
            height: fit-content;

            background-color: white;
            border-radius: 7px;
            .rich-text{
                margin: 20px 0px;
                .label{
                    margin-bottom: 15px;
                }
            }
            .act-buttons{
                display: flex;
                justify-content: flex-end;
                button:first-child{
                    margin: 0px 10px;
                }
                
            }
            .value-section-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                h3 {
                    margin: 0px;
                    padding: 0px;
                }
                button{
                    margin: 0px 5px;
                }
            }

        }
    }
}

.small-button {
    font-size: 11px;
    padding: 0px 8px;
    line-height: 33px;
}
 