<spinner-placeholder class="placeholder" *ngIf="getRequest == 1"></spinner-placeholder>
<offline-placeholder class="placeholder" *ngIf="getRequest == 3"></offline-placeholder>
<div [class.dark-mode]="theme == 'dark'" *ngIf="getRequest == 2 && stats" class="home-layout">
    <h1 [innerHTML]="'Dashboard.Home' | translate"></h1>
    <div class="counter-cards">
        <div *ngFor="let card of counterCards " class="counter-card">
            <div [style.background-color]="card.color" class="icon-container">
                <i [attr.class]="card.icon + ' icon'"></i>
            </div>
            <div class="info">
                <div class="title" [innerHTML]="'Dashboard.'+card.title | translate"></div>
                <div [style.color]="card.color" class="count">{{card.count}}</div>
            </div>
            <i [dir]="dir == 'rtl' ? 'rtl' : 'ltr'" [style.color]="card.color" [attr.class]="card.icon + ' overlay'"></i>
        </div>
    </div>
    <br>
    <div class="tables">
        <div *ngIf="currentUser?.isManager || currentRole?.messagesPermissions?.read" style="flex: 3;" class="table-container">
            <div class="table-container-header">
                <h2 [innerHTML]="'Dashboard.Messages-Table' | translate"></h2>
                <button [routerLink]="['/','dashboard','messages']"  class="show-all-button" mat-flat-button color="primary">
                    <span [innerHTML]="'Dashboard.Show-All' | translate"></span>
                    <mat-icon [textContent]="dir == 'rtl' ? 'arrow_backward' : 'arrow_forward'" ></mat-icon>
                </button>
            </div>
            <div class="content">
                <spinner-placeholder class="placeholder" *ngIf="messageRequest == 1"></spinner-placeholder>
                <offline-placeholder class="placeholder" *ngIf="messageRequest == 3"></offline-placeholder>
                <div  *ngIf="messageRequest == 2" class="message-list">
                    <div *ngFor="let message of messages" class="message">
                        <div [dir]="dir == 'rtl' ? 'rtl' : 'ltr'" class="icon-container">
                            <i class="las la-envelope"></i>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="name">{{message.fullName}}</div>
                                <div class="date">{{formatDate(message.createdAt!)}}</div>
                            </div>
                            <div class="email">{{message.email}}</div>
                            <div class="content">{{message.content.substr(0,70) + '...'}} <span class="show-more">show
                                    more</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="currentUser?.isManager || currentRole?.adminsPermissions?.read" style="flex: 4;" class="table-container">
            <div class="table-container-header">
                <h2 [innerHTML]="'Dashboard.Users-Activities' | translate"></h2>
                <button [routerLink]="['/','dashboard','admins','activities']" class="show-all-button" mat-flat-button color="primary">
                    <span [innerHTML]="'Dashboard.Show-All' | translate"></span>
                    <mat-icon [textContent]="dir == 'rtl' ? 'arrow_backward' : 'arrow_forward'" ></mat-icon>
                </button>
            </div>
            <div class="content">
                <data-table [loading]="activitiesRequest == 1" [break-word]="false" [rows]="activities" [columns]="activitiesCols" [show-header]="false" [show-footer]="false"
                    [cell-template]="cellTemplate">
                    <ng-template #cellTemplate let-rowData="rowData" let-data="cellData" let-col="colIndex"
                        let-row="rowIndex">
                        <ng-container [ngSwitch]="col">
                            <ng-container *ngSwitchCase="0">
                                {{data?.username}}

                            </ng-container>
                            <ng-container *ngSwitchCase="3">
                                <div 
                                [class.red]="data == 'Delete'"
                                [class.accent]="data == 'Update'"
                                [class.primary]="data == 'Create'"
                                class="action-container">
                                    {{data}}

                                </div>
                            </ng-container>
                            <ng-container  *ngSwitchDefault>
                                <div style="text-align: center;">
                                {{data}}
                                    
                                </div>
                            </ng-container>

                        </ng-container>
                    </ng-template>
                </data-table>
            </div>
        </div>
    </div>
</div>