<div class="profile-page">
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">account_box</mat-icon>
                General
            </ng-template>
            <div class="general-profile">
                <div class="profile-image-container">
                    <div class="profile-image">
                       
                        <div  class="image-container">
                
                            <img *ngIf="user?.image && user?.image != 'none'" class="image" [src]="baseUrl + user?.image" alt=""
                                srcset="">
                            <div *ngIf="!user?.image || user?.image == 'none'" class="placeholder">
                                <img *ngIf="!user || user.image == null || user.image == 'none'" src="assets/images/avatar.png" alt="">
                            </div>
                        </div>
        
                    </div>
                    <div class="sub-text">
                        Allowed *.jpeg, *.jpg, *.png, *.gif
                        <br> max size of 3.1 MB
                    </div>
        
                </div>
                <div class="basic-info-container">
                    <div class="row">
                        <form-builder  [show-cancel-button]="false" (formSubmit)="onFormSubmit($event)" [control-groups]="formGroups"></form-builder>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon ">vpn_key</mat-icon>
                Change Password
            </ng-template>
            <div class="change-password-container ">
                <form-builder  [show-cancel-button]="false" (formSubmit)="onPasswordSubmit($event)" [control-groups]="passwordFormGroups"></form-builder>

            </div>
        </mat-tab>
    </mat-tab-group>
<dimmer-loading
    *ngIf="dimRequest == 1">
</dimmer-loading>