@import 'variables';
.lfp-container {
    display: flex;
    align-items: center;
    mat-form-field {
        flex: 1;
        min-width: 0px;
    }
    button {
        max-width: 150px;
        border-radius: 0px 10px 10px 0px;
        padding: 4.5px 15px;
    }

}
.lfp-container.rtl{
    flex-direction: row-reverse;
    button{
        border-radius: 10px 0px 0px 10px;

    }
}
 
@media screen and (max-width:450px) {
    .lfp-container{
        button{
            .btn-text{
                display: none;
            }
        }
    }
}