<data-table [loading]="getRequest == 1" 
[break-word]="false" [rows]="data"
[show-controls]="false"

[fixed]="true" [columns]="columns"
 title="Activities Table"
(pageChange)="onPageChange($event)"
[total]="totalRecords"
[cell-template]="cellTemplate">
<ng-template #cellTemplate let-rowData="rowData" let-data="cellData" let-col="colIndex"
    let-row="rowIndex">
    <ng-container [ngSwitch]="col">
        <ng-container *ngSwitchCase="0">
            {{data?.username}}
        </ng-container>
        <ng-container *ngSwitchCase="4">
            <div 
            [class.red]="data == 'Delete'"
            [class.accent]="data == 'Update'"
            [class.primary]="data == 'Create'"
            class="action-container">
                {{data}}

            </div>
        </ng-container>
        <ng-container  *ngSwitchDefault>
            <div style="text-align: center;">
            {{data}}
            </div>
        </ng-container>

    </ng-container>
</ng-template>
</data-table>