<div class="layout-container">
    <!-- <fui-dimmer class="dim-overlay" (click)="close()" [(isDimmed)]="toggle" [isClickable]="false"></fui-dimmer> -->
    <div [class.float-menu]="toggle" class="menu-section">
        <dahboard-menu></dahboard-menu>
    </div>
    <div [class.shrink-page]="toggle" class="main-section">
        <div class="header">
            <dashboard-header ></dashboard-header>

        </div>
        <div [class.stretched-page]="!toggle" class="page background-color">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>