<div [class.dark-mode]="theme == 'dark'" [class.rtl]="dir == 'rtl'" class="layout-container">
    <div [class.closed-menu]="!toggle" class="menu-section">
        <dahboard-menu></dahboard-menu>
    </div>
    <div  [class.shrink-page]="toggle" class="main-section">
        <div class="header">
            <dashboard-header [toggle]="toggle" (languageChange)="onLanguageChange($event)" (toggleClick)="toggle = $event" ></dashboard-header>

        </div>
        <div [class.stretched-page]="!toggle" class="page background-color">
            <router-outlet></router-outlet>
        </div>
    </div>
<div *ngIf="toggle" (click)="toggle = false" class="dimmer"></div>

</div>