<h1>Import Field Matcher</h1>
<div class="fields-matcher-page">
    <div class="fields-matcher-container">
        <h2>From List</h2>
        <div cdkDropList #fromList="cdkDropList" [cdkDropListData]="fromItems" [cdkDropListConnectedTo]="fromList"
            class="fields-matcher-list" (cdkDropListDropped)="drop($event)">
            <div class="fields-matcher-box" *ngFor="let item of fromItems" cdkDrag>{{item}}</div>
        </div>
    </div>
    <div class="fields-matcher-container">
        <h2>To List</h2>
        <div class="fields-matcher-list" cdkDropList #toList="cdkDropList" [cdkDropListData]="toItems"
            [cdkDropListConnectedTo]="toList" class="fields-matcher-list" (cdkDropListDropped)="drop($event)">
            <div class="fields-matcher-box" *ngFor="let item of toItems" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>
<div class="act-buttons">
    <button (click)="onSubmit()" mat-flat-button color="primary">Submit</button>
    <button  (click)="onCancel()" type="button" mat-flat-button color="accent">Cancel</button>
</div>