@import "variables";
.fields-matcher-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 0px;

}
.field-matcher{
    display: flex;
    flex-wrap: wrap;
    background-color: $secondary-background-color;
    margin: 20px 0px;
    border-radius: 5px;
    overflow: auto;
    height: 55vh;
    box-shadow: 0px 0px 15px #eee;


}
.fields-matcher-container {
    min-width: 260px;
    display: inline-block;
    vertical-align: top;

}
.table-header{
    background-color: map-get($map: $primary-color, $key: 500);
    color: white;
    padding: 7px 10px;
    border-left: solid 1px #eee;
    h3{
        padding: 0;
        margin: 0;
    }
}
.fields-matcher-container:first-child .table-header{
    border-left:none;
}
.fields-matcher-list {
    min-height: 40px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.fields-matcher-box {
    padding: 10px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
}
.fields-matcher-box:hover{
    background-color: #eee;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fields-matcher-box:last-child {
    border: none;
}

.fields-matcher-list.cdk-drop-list-dragging .fields-matcher-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.act-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin:10px 0px;

    button {
        margin: 0px 5px;
        border-radius: 10px;
        padding: 5px 25px;
    }
}
.dark-mode{
    .field-matcher {
        background-color: $secondary-dark-background-color;
        box-shadow: none;
        .fields-matcher-box {
            color: white!important;
        }
        .fields-matcher-box:hover{
            background-color: $dark-background-color;
        }
    }
}